
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;

}
.container {
  display: grid;
  grid-template-columns: minmax(opx, auto) 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-areas: 
    's h'
    's m'
    's f';
    width: 100vw;
    height: 100vh;
}

.header {
  grid-area: h;
  background-color: thistle;
}

.side {
  grid-area: s;
  background-color: #e1bee7;
  padding: 5px;

}
.side h1{
    font-size: 3rem;
    color: #e0def4;
}
.side ul{
    overflow: auto;
}
.main {
  grid-area: m;
  background-color: var(--main);
  color: purple;
  font-size: 2rem;
}

li{
    font-size: 2.5rem;
    color: yellow;
    list-style-type: none;
    margin-right: 3rem;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.note-area{
    margin: 10px;
    max-width: 500px;
}

#close,
#open {
    float: right;
    background-color: #26233a;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    color: #e0def4;
    font-size: 10px;
    border: none
}

#newNote {
    background-color: #e0def4;
    border-radius: 15px;
    padding: 20px;
    color: #e0def4;
    font-size: 20px;
    border: none;
}

textarea {
    width: 500px;
    height: 250px;
    text-align: left;
    padding: 0 0.4em 0.4em 0;
    font-family: 'Raleway', sans-serif;
}

.note {
    color: #e0def4;
    margin-right: 10px;
    background-color: #6e6a86;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
#new {
    background-color: #c4a7e7;
    border-radius: 15px;
    padding: 15px;
    color: #e0def4;
    font-size: 20px;
    border: none;
}

#save {
    background-color: #6e6a86;
    border-radius: 15px;
    padding: 20px;
    margin-right: 5px;
    color: #e0def4;
    font-size: 20px;
    border: none
}
#delete {
    background-color: #26233a;
    border-radius: 15px;
    padding: 20px;
    margin-left: 5px;
    color: #e0def4;
    font-size: 20px;
    border: none
}
.footer p {
    color: #fffaf3;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-rows: 5rem 8rem 1fr 5rem;
        grid-template-areas: 
            'h h'
            's s'
            'm m'
            'f f';
    }
}

.side ul{
    margin-left: 5px;
}

.note-area{
    max-width: 100vw;
}

