html, body{
    height: 100%;
    margin: 0;
    font-family: sans-serif
}
.container{
    height: 100%;
    display:grid;
    grid-template-columns: 15% auto;
    grid-template-rows: min-content auto min-content;
}
header{
    background-color: #575279;
    grid-row: 1;
    grid-column: 1/6;
    margin-bottom: 10px;
}

#links{
    font-size: 1rem;
    color: #e0def4;
    list-style-type: none;
    margin-right: 3rem;
    display: inline-block;
    float: right;
    
}

nav{
    background-color: #6e6a86;
    grid-column: 1;
    grid-row: 2;
    margin-right: 10px;
    overflow-y: auto;
    color: #faf4ed;
}
main{
    background-color: #9893a5;
    grid-column: 2/6;
    grid-row: 2;
}
section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}
.top_buttons{
    display: flex;
    height: min-content;
    margin: 2%
}
#new {
    background-color: #c4a7e7;
    border-radius: 15px;
    padding: 20px;
    color: #faf4ed;
    font-size: 20px;
    border: none
}

.notes{
    background-color: #faf4ed;
    border-radius: 15px;
    width: 75%;
    flex: 1 1 0;
    margin: auto;
}
#text{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    font-size: 20px;
    border-radius: 15px;
    padding: 20px;
}
.bottom_buttons{
    display: flex;
    justify-content: center;
    margin: 2%;
}
#save {
    background-color: #575279;
    border-radius: 15px;
    padding: 20px;
    margin-right: 5px;
    color: #faf4ed;
    font-size: 20px;
    border: none
}
#delete {
    background-color: #6e6a86;
    border-radius: 15px;
    padding: 20px;
    margin-left: 5px;
    color: #faf4ed;
    font-size: 20px;
    border: none
}
footer{
    background-color: #907aa9;
    grid-row:3;
    grid-column: 1/6;
    margin-top: 10px;
    color: #faf4ed;
}
footer > h2{
    text-align: center;

}
.icons{
    display: flex;
    justify-content:center;
}